.div{
  width: 960;
  height: 670px;
  margin: auto;
  background-image: linear-gradient(white, blue);
}
.satu{
    width: 600px;
    height: 400px;
    margin: auto;
    background-image: linear-gradient()(white, blue);
}
.dua{
  width: 600px;
  height: 150px;
  margin: auto;
  background-image: radial-gradient(blue 20%, white);
}
